@if (Request.IsAuthenticated) {
    
    
    
    <text>
        <div class="pull-left">@Html.GravatarImage(CurrentProfile.EmailAddress)</div>
        <ul class="unstyled pull-right">
            <li>Hello, @Html.ActionLink(CurrentProfile.DisplayName, "Edit", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })</li>
            <li>        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
</li>
        </ul>
        
    </text>
} else {
    <ul>
        Hello, @CurrentProfile.DisplayName. <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
